'/home/appuser/venv/bin/python -m pip install --upgrade pip' 
absl-py==0.15.0
aiohttp==3.8.3
aiosignal==1.2.0
altair==4.2.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
audioread==3.0.0
backports.zoneinfo==0.2.1
blinker==1.6.2
botnoi==0.7.6
boto==2.49.0
boto3==1.26.139
botocore==1.29.139
cachetools==5.3.0
certifi==2022.9.24
charset-normalizer==2.1.1
clang==5.0
click==8.1.3
colorama==0.4.6
decorator==4.4.2
dill==0.3.6
dnspython==2.3.0
docopt==0.6.2
entrypoints==0.4
facebook-sdk==3.1.0
Flask==2.2.2
flatbuffers==1.12
frozenlist==1.3.1
future==0.18.2
gast==0.4.0
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
gspread==3.6.0
h5py==3.1.0
idna==3.4
imageio==2.30.0
imageio-ffmpeg==0.4.8
importlib-metadata==5.0.0
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
keras==2.6.0
Keras-Preprocessing==1.1.2
line-bot-sdk==2.3.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.1
mdurl==0.1.2
moviepy==1.0.3
multidict==6.0.2
multiprocess==0.70.14
mysql-connector-python==8.0.31
numpy==1.19.5
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
pandas==1.4.4
Pillow==9.5.0
pipreqs==0.4.13
pkgutil_resolve_name==1.3.10
plotly==5.14.1
proglog==0.1.10
protobuf==3.20.1
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydeck==0.8.1b0
Pygments==2.15.1
pymongo==4.3.3
Pympler==1.0.1
pyrsistent==0.19.3
pythainlp==4.0.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.3.5
rsa==4.9
s3transfer==0.6.1
scikit-learn==1.2.2
scipy==1.10.1
six==1.15.0
smart-open==6.3.0
smmap==5.0.0
SpeechRecognition==3.10.0
stqdm==0.0.5
streamlit==1.22.0
streamlit-custom-notification-box==0.1.2
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorflow==2.6.0
tensorflow-estimator==2.12.0
termcolor==1.1.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
tweepy==4.14.0
typing_extensions==3.7.4
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.12
validators==0.20.0
watchdog==3.0.0
Wave==0.0.2
Werkzeug==2.2.2
wrapt==1.12.1
yarg==0.1.9
yarl==1.8.1
zipp==3.10.0
